<a href="https://colab.research.google.com/github/quotation3/DB_Finance/blob/main/Sentiment_Lexicon/6_n_gram_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Threshold ±1.5기준으로 라벨링

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from tqdm import tqdm

In [ ]:
news = pd.read_csv('/content/drive/MyDrive/DB_Finance/data/lg_chemical_only_topic.csv',lineterminator='\n')
news

      Unnamed: 0  ...                                              nouns
0              0  ...  ['中', '한국', '배터리', '탑', '보조금', '제외', '화학', '삼성...
1              1  ...  ['리더십', '시대', '년', '년', '간', '분석', '차', '산업', ...
2              2  ...  ['구본무', '회장', '창립', '년', '올해', '시작', '회장', '그룹...
3              3  ...  ['한국', '車', '배터리', '中', '설', '자리', '장착', '차량',...
4              4  ...  ['회', '충전', '시간', '사용', '노트북', '시판', '동아일보', '...
...          ...  ...                                                ...
7455        7455  ...  ['화학', '놀이터', '화학', '캠프', '과학', '교육', '기부', '사...
7456        7456  ...  ['中', '배터리', '위', '시가총액', '조', '원', '돌파', '세계'...
7457        7457  ...  ['전자', '폴란드', '브로츠와프', '배터리', '분리', '막', '공장',...
7458        7458  ...  ['결산', '산업', '소송', '화재', '다사다난', '배터리', '업계', ...
7459        7459  ...  ['것', '남', '이', '메시지', '해', '국내', '정치', '김대중',...

[7460 rows x 7 columns]

In [ ]:
news = news[['date','title','content','change']]

In [ ]:
news['date'] = pd.to_datetime(news['date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
news[news['change']>= 1.5]

           date  ... change
20   2017-01-03  ...   3.56
21   2017-01-03  ...   3.56
22   2017-01-03  ...   3.56
23   2017-01-03  ...   3.56
24   2017-01-03  ...   3.56
...         ...  ...    ...
7455 2019-12-30  ...   2.25
7456 2019-12-30  ...   2.25
7457 2019-12-30  ...   2.25
7458 2019-12-30  ...   2.25
7459 2019-12-30  ...   2.25

[1436 rows x 4 columns]

In [ ]:
news[news['change']<=-1.5]

           date  ... change
0    2017-01-02  ...  -3.07
1    2017-01-02  ...  -3.07
2    2017-01-02  ...  -3.07
3    2017-01-02  ...  -3.07
4    2017-01-02  ...  -3.07
...         ...  ...    ...
7229 2019-12-04  ...  -4.20
7230 2019-12-04  ...  -4.20
7231 2019-12-04  ...  -4.20
7232 2019-12-04  ...  -4.20
7233 2019-12-04  ...  -4.20

[1448 rows x 4 columns]

In [ ]:
news['label']=''

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
for i in range(len(news)):
    if news['change'][i]>=1.5:
        news['label'][i] = 1
    elif news['change'][i]<=-1.5:
        news['label'][i] = 0

In [ ]:
news = news[(news['label']==1) | (news['label']==0)]
news.reset_index(inplace=True, drop=True)
news

           date                                           title  ... change  label
0    2017-01-02          中, 한국산 배터리 탑재차 보조금 제외…LG화학·삼성SDI '날벼락'  ...  -3.07      0
1    2017-01-02  [리더십 4.0시대]2016년 1년간 분석한 '4차 산업혁명' 리더 경영인은 누굴까  ...  -3.07      0
2    2017-01-02                 구본무 회장, "창립 70년 맞은 올해 새롭게 시작하자"  ...  -3.07      0
3    2017-01-02            한국산 ‘車 배터리’ 中서 설 자리 잃나…장착 차량 보조금도 제외  ...  -3.07      0
4    2017-01-02                      LG, 1회 충전으로 24시간 사용 노트북 시판  ...  -3.07      0
...         ...                                             ...  ...    ...    ...
2879 2019-12-30                        ‘화학놀이터’·‘화학캠프’로 과학교육 기부   ...   2.25      1
2880 2019-12-30                   '中 배터리 1위' CATL, 시가총액 38조원 돌파  ...   2.25      1
2881 2019-12-30                  LG전자, 폴란드 브로츠와프에 배터리 분리막 공장 증설  ...   2.25      1
2882 2019-12-30         [2019 결산-산업 ⑩] 소송에다 ESS 화재까지…다사다난 배터리업계  ...   2.25      1
2883 2019-12-30                 ‘어떻게 살 것인가’ 남은 이들에게 메시지 남기고 떠나다  ...   2.25      1

[2884 rows x 5 columns]

In [ ]:
len(news['date'].unique())

277

In [ ]:
news['text']=news['title']+news['content']

In [ ]:
news.dropna(inplace=True)
news.reset_index(inplace=True, drop=True)

### Tokenize

In [ ]:
! git clone https://github.com/SOMJANG/Mecab-ko-for-Google-Colab.git
! bash install_mecab-ko_on_colab190912.sh
!apt-get update
!apt-get install g++ openjdk-8-jdk 
!pip3 install konlpy JPype1-py3
!bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)

In [ ]:
news['nouns']=''

In [ ]:
from konlpy.tag import Mecab
mecab = Mecab()

for i in range(len(news)):
    try:
        news['nouns'][i] = mecab.nouns(news['text'][i])
    except:
        continue

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

unigram의 개수는 789518 개 입니다

In [ ]:
for i in range(len(news)):
    for word in news['nouns'][i]:
        if len(word) == 1:
            news['nouns'][i].remove(word)

In [ ]:
news

           date  ...                                              nouns
0    2017-01-02  ...  [한국, 배터리, 보조금, 제외, 화학, 삼성, 날벼락, 한국, 배터리, 보조금, ...
1    2017-01-02  ...  [리더십, 시대, 분석, 산업, 혁명, 리더, 경영인, 누굴까, 리더십, 시대, 년...
2    2017-01-02  ...  [구본무, 회장, 창립, 올해, 시작, 구본무, 회장, 창립, 올해, 시작, 회장,...
3    2017-01-02  ...  [한국, 배터리, 설, 자리, 장착, 차량, 보조금, 제외, 국산, 배터리, 설, ...
4    2017-01-02  ...  [충전, 시간, 사용, 노트북, 시판, 충전, 시간, 사용, 노트북, 시판, 동아일...
...         ...  ...                                                ...
2878 2019-12-30  ...  [화학, 놀이터, 화학, 캠프, 과학, 교육, 기부, 화학, 놀이터, 화학, 캠프,...
2879 2019-12-30  ...  [배터리, 시가총액, 돌파, 배터리, 시가총액, 돌파, 세계, 최대, 배터리, 제조...
2880 2019-12-30  ...  [전자, 폴란드, 브로츠와프, 배터리, 분리, 공장, 증설, 전자, 폴란드, 브로츠...
2881 2019-12-30  ...  [결산, 산업, 소송, 화재, 다사다난, 배터리, 업계, 결산, 산업, 소송, 화재...
2882 2019-12-30  ...  [남, 메시지, 남, 메시지, 국내, 정치, 김대중, 대통령, 동지, 가족, 세상,...

[2883 rows x 7 columns]

In [ ]:
uni_len = 0
for i in range(len(news)):
    uni_len+=len(news['nouns'][i])
print('unigram의 갯수는',uni_len,'개 입니다')

unigram의 갯수는 681012 개 입니다

In [ ]:
news = news[['date','nouns','label']]

In [ ]:
news

           date                                              nouns label
0    2017-01-02  [한국, 배터리, 보조금, 제외, 화학, 삼성, 날벼락, 한국, 배터리, 보조금, ...     0
1    2017-01-02  [리더십, 시대, 분석, 산업, 혁명, 리더, 경영인, 누굴까, 리더십, 시대, 년...     0
2    2017-01-02  [구본무, 회장, 창립, 올해, 시작, 구본무, 회장, 창립, 올해, 시작, 회장,...     0
3    2017-01-02  [한국, 배터리, 설, 자리, 장착, 차량, 보조금, 제외, 국산, 배터리, 설, ...     0
4    2017-01-02  [충전, 시간, 사용, 노트북, 시판, 충전, 시간, 사용, 노트북, 시판, 동아일...     0
...         ...                                                ...   ...
2878 2019-12-30  [화학, 놀이터, 화학, 캠프, 과학, 교육, 기부, 화학, 놀이터, 화학, 캠프,...     1
2879 2019-12-30  [배터리, 시가총액, 돌파, 배터리, 시가총액, 돌파, 세계, 최대, 배터리, 제조...     1
2880 2019-12-30  [전자, 폴란드, 브로츠와프, 배터리, 분리, 공장, 증설, 전자, 폴란드, 브로츠...     1
2881 2019-12-30  [결산, 산업, 소송, 화재, 다사다난, 배터리, 업계, 결산, 산업, 소송, 화재...     1
2882 2019-12-30  [남, 메시지, 남, 메시지, 국내, 정치, 김대중, 대통령, 동지, 가족, 세상,...     1

[2883 rows x 3 columns]

### n-gram 만들기

In [ ]:
from nltk import ngrams

In [ ]:
def make_ngrams(lis,n):
    ngram_lis = []
    tmp=list(ngrams(lis, n))
    for i in range(len(tmp)):
        ngram_lis.append(';'.join(tmp[i]))
    return ngram_lis

In [ ]:
news['bigram'] = ''
news['trigram'] = ''
news['fourgram'] = ''
news['fivegram'] = ''

In [ ]:
bi_len = 0
tri_len = 0
four_len = 0
five_len = 0

for i in range(len(news)):
    news['bigram'][i] = make_ngrams(news['nouns'][i],2)
    news['trigram'][i] = make_ngrams(news['nouns'][i],3)
    news['fourgram'][i] = make_ngrams(news['nouns'][i],4)
    news['fivegram'][i] = make_ngrams(news['nouns'][i],5)
    bi_len += len(news['bigram'][i])
    tri_len += len(news['trigram'][i])
    four_len += len(news['fourgram'][i])
    five_len += len(news['fivegram'][i])

print('bigram의 갯수는',bi_len,'개 입니다')
print('trigram의 갯수는',tri_len,'개 입니다')
print('fourgram의 갯수는',four_len,'개 입니다')
print('fivegram의 갯수는',five_len,'개 입니다')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

bigram의 갯수는 678129 개 입니다
trigram의 갯수는 675246 개 입니다
fourgram의 갯수는 672363 개 입니다
fivegram의 갯수는 669480 개 입니다

In [ ]:
news['ngram'] = ''
for i in range(len(news)):
    try:
        news['ngram'][i] = news['nouns'][i] + news['bigram'][i]+ news['trigram'][i]+ news['fourgram'][i]+ news['fivegram'][i]
    except:
        pass

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
news = news[['date','ngram','label']]

In [ ]:
news.to_csv('/content/drive/MyDrive/DB_Finance/data/ngram_news_only_topic.csv', index=False)