<a href="https://colab.research.google.com/github/quotation3/DB_Finance/blob/main/Data_Preprocessing/3_%EC%A2%85%EB%AA%A9%EB%89%B4%EC%8A%A4_%EC%A0%84%EC%B2%98%EB%A6%AC(%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 정규 표현식 적용

In [ ]:
import pandas as pd
import re

In [ ]:
news_2019 = pd.read_json('/content/drive/MyDrive/DB_Finance/data/lg_chemical.json')
news_2018 = pd.read_json('/content/drive/MyDrive/DB_Finance/data/lg_chemical_2018.json')

In [ ]:
news = pd.concat([news_2018,news_2019], axis=0)

In [ ]:
news.reset_index(drop=True, inplace=True)

In [ ]:
news['content'][12]

'[머니투데이 오동희 기자, 홍정표 기자] [삼성 LG 현대차 등 電車군단 내수와 수출 회복 혼신…화학 정유 철강 등도 신성장동력 확보 총력]힘겨운 병신년(丙申年)을 보낸 재계가 2017년 정유년(丁酉年)에도 국내외적으로 적지 않은 난관에 봉착할 것으로 예상돼, 올해도 위기극복의 한 해가 될 것으로 예상된다.재계는 국제통화기금(IMF)이나 2008년 글로벌 금융위기 등 다양한 위기 상황에서도 위기극복 DNA를 기반으로 위기를 극복한 만큼, 올 한해도 다시 한번 이 힘을 발휘해 한국 경제의 버팀목 역할을 해나가겠다는 의지다.1일 재계에 따르면 삼성, 현대기아차, SK, LG, GS, 포스코, 현대중공업, 한화 그룹 등 주요 기업들은 수출 부진과 내수침체에, 미국 트럼프 신정부의 출범, 미·중·러간 패권다툼, 국내 대선의 소용돌이 속에서도 기존 사업의 경쟁력 제고와 신성장동력 발굴을 통해 실적개선에 힘을 쏟겠다는 의지를 다지고 있다.삼성·LG와 현대차 등 전차(전자와 자동차 업종) 군단은 새해에도 위축되는 내수시장과 수출 감소 등을 극복하기 위해 해법 찾기에 나선다.삼성의 경우 빠른 특검의 마무리와 함께 주력 계열사인 삼성전자의 경우 지난해 갤럭시S7의 소손 문제로 초유의 단말기 단종사태의 극복이 올 한해 최대 과제 중 하나다. 삼성전자 관계자는 "지난해 단종된 갤럭시S7 후속 모델의 안정적인 공급을 통해 다시 한번 도약하는 계기가 되기를 기대한다"고 말했다. LG전자도 안정적 수익처인 가전과 신성장동력으로 육성하고 있는 VC(자동차 전장) 부문 외에 적자를 기록하고 있는 MC부문의 수익성 제고가 최대 숙제다. LG전자 관계자는 "지난해 초 구본무 회장의 신년사에서 사업구조 고도화를 주문했고, 그 성과로 LG전자 시그니처 프리미엄 브랜드가 시장에서 호응을 얻으며 가전 부문에서 7% 이상 영업이익률을 올렸다"며 "VC부문과 LG화학도 고부가가치 실현에 성공했다"고 자평했다. 올해는 여기에 더해 MC 부문의 경쟁력 제고를 통해 안정적인 수익기반을 확보하겠다는 전략이다.현대기아차그룹의 경우 지난해 내부 시장에서의 점유율 하락과 아프리카와 중동, 동유럽과 중남미 등 신흥국가의 극심한 경제침체로 당초목표인 813만대를 밑도는 실적을 올려 올 한해는 반등의 기회를 모색해야 하는 상황이다.현대차 그룹 관계자는 "새해에는 지난해 침체됐던 분위기를 다시 끌어올려 글로벌 판매 800만대를 넘어서는 재도약의 기회를 만들기 위해 노력할 것"이라고 말했다. 현대기아차그룹은 올해에도 자율주행차 시대 등에 대비한 기술개발에도 총력을 기울여 미래성장동력 확보에 나설 방침이다.SK그룹은 지난해 말 수펙스추구협의회 의장을 비롯해 주력계열사 CEO를 모두 바꾼 만큼 올해 혁신 기반의 신규 사업 발굴 및 실행을 계획하고 있다. 인수합병을 통해 사업을 확장하고, 4차 산업혁명이라 불리는 새로운 분야에서 신기술 및 서비스 개발에 박차를 가할 예정이다.  정유/화학부문은 사업구조 혁신과 글로벌 성장이란 당면 과제를 안고 중국, 미국 등에서 유수 업체들과의 사업제휴 및 M&A로 사업확장에 총력을 다할 계획이다. 정보통신은 글로벌 ICT(정보통신기술) 산업 변화에 대비해 과감히 사업구조를 혁신하고, 이동통신, IoT(사물인터넷), 미디어, 플랫폼, 반도체 등 새로운 ICT 융합을 통해 혁신과 변화를 주도해 나갈 방침이다. 최근 대규모 투자계획을 발표한 반도체 역시 4차 산업혁명 시대를 선제적으로 대응하기 위해 기술 개발과 시설 투자를 지속할 예정이다. GS그룹은 올해 수익기반 다변화 및 사업포트폴리오 고도화에 전력할 방침이다. 경영환경이 불확실할수록 과감한 투자를 통해 수익 기반을 다변화해야 된다는 허창수 회장의 경영철학이 반영된 것이다. 포스코는 새해에도 고수익/고급강 판매를 지속적으로 확대하고, 재무구조를 더욱 건전화해 전 세계 경기 침체와 중국의 철강 공급 과잉에 따른 장기 불황을 적극 극복해나갈 계획이다. 구조혁신을 통한 철강본원 경쟁력 강화에 더욱 매진한다는 것이다. 현재 약 50% 수준인 고수익 고급강인 WP(월드프리미엄)제품 판매 비율을 내년 말까지 전체 판매량의 약 55%까지 끌어올리고, 대표적인 고부가가치제품인 자동차강판 개발 및 판매 확대에도 주력할 계획이다. 지난해 강도 높은 경영개선계획의 이행을 통해 체질개선과 흑자전환에 성공한 현대중공업은 ‘제2의 창업’ 수준의 변화와 혁신으로 재도약의 기틀을 다진다는 계획이다. 현대중공업은 올해 사업별 독립회사 경영체제로 전환한다. 최근 기술/ICT기획팀을 기획실 내에 신설해 그룹의 기술경영 컨트롤타워 역할을 수행하게 했다. 이와 함께 경기도 성남시에 ‘그룹 통합R&D센터’ 설립을 추진하고 있다. 한화그룹은 기업의 본원적인 경쟁력을 강화하고, 잘 할 수 있는 사업 부문의 핵심역량을 글로벌 수준으로 더욱 끌어올릴 예정이다. 방위사업분야는 수출로 무게 중심을 옮겨 글로벌 방산시장 공략을 본격화하고, 지속적인 투자와 연구개발로 자주국방 등 국익에 일조할 방침이다. 두산그룹은 성장사업 기회는 지속적으로 모색하되, 이보다 앞서 2년여 간에 걸친 재무구조개선작업에 이어 \'근본적인 수익구조 개선을 통한 재무건전성 강화\'를 우선과제로 삼기로 했다. 이를 위해 기존 사업이 시장을 선도할 수 있도록 근원적 경쟁력을 키우는데 초점을 맞출 계획이다. 조현준 신임 회장의 3세 경영체제를 맞은 효성그룹은 기존 중전기기, ATM(현금자동입출금기) 등 핵심 제품 이외에도 ESS(에너지저장장치), HVDC(고압직류송전) 등 신에너지 사업을 비롯해 탄소섬유, 폴리케톤과 같은 신소재 산업 육성에도 적극 나설 방침이다. 코오롱그룹은 현재 추진 중인 사업의 경쟁력을 강화하고 신규 및 증설 설비에 원활한 투자 등 내실 강화와 함께 미래 먹거리 사업 발굴에 중점을 둘 계획이다.지난해 현대상선과 현대증권이 계열사에서 제외되면서 규모가 축소된 현대그룹은 새로운 사업 진출을 모색하고 있다. 올해 대선 이후 남북 관계가 회복될 것을 대비해 대북사업을 다시 점검하는 한편, 투자회사 신설도 신중히 검토하고 있다. 오동희 기자 hunter@, 홍정표 기자 jphong@mt.co.kr'

In [ ]:
stop_words = ['코스피', '지수','코스닥','매수','매도','증권','부고']
lis = []
for i in range(len(news)):
    for j in stop_words:
        if j in news['content'][i]:
            lis.append(i)
len(set(lis))

18659

In [ ]:
news = news[['date','title','content','media']]

In [ ]:
news['media'].unique()

80

In [ ]:
news_list = ['조선비즈','머니투데이','뉴시스','한국경제','전자신문','서울경제','이데일리','디지털데일리','매일경제','아이뉴스24','문화일보','연합뉴스','아시아경제','뉴스1','머니S',\
             '파이낸셜뉴스','헤럴드경제','조선일보','데일리안','동아일보','세계일보','노컷뉴스','ZDNet Korea','서울신문', '국민일보','더팩트'\
            '한국일보','한경비즈니스','경향신문','매일신문','한겨레','프레시안','매경이코노미','부산일보','오마이뉴스','한국경제TV']

In [ ]:
len(news_list)

35

In [ ]:
news = news[news['media'].isin(news_list)]

In [ ]:
news.reset_index(drop=True,inplace=True)

In [ ]:
news

                       date  ...  media
0       2017.01.01. 오후 6:57  ...    뉴스1
1      2017.01.01. 오후 12:02  ...   서울경제
2       2017.01.01. 오후 6:03  ...   전자신문
3       2017.01.01. 오후 3:01  ...   노컷뉴스
4       2017.01.01. 오전 6:07  ...    뉴시스
...                     ...  ...    ...
26565  2019.12.31. 오전 10:41  ...  헤럴드경제
26566  2019.12.31. 오전 11:09  ...   매일경제
26567   2019.12.31. 오전 9:02  ...  헤럴드경제
26568   2019.12.31. 오전 9:59  ...   매일경제
26569   2019.12.31. 오후 4:35  ...   매일경제

[26570 rows x 4 columns]

In [ ]:
# list_1 : 앞부분에 [  기자 ]  등 내용 제거
list_1 = ['한국경제TV','머니투데이','서울경제','이데일리','디지털데일리','아이뉴스24','아시아경제','헤럴드경제','디지털타임스','서울신문','한경비즈니스', '프레시안','오마이뉴스']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_1:
        cont = re.sub('[\\[]+[ㄱ-힣\s=A-Z\\)\\(\d]+[\\]]', '', cont)  # [ ooo 기자 
        cont = re.sub('[\\[]+[ㄱ-힣\s,]+[기자][\\]]', '',cont) #  ooo 기자] :머니투데이 괄호 두개라서
        news.loc[i,'content']=cont

In [ ]:
#list_2 : 뒷부분 000 기자 이후 삭제
list_2 = ['머니투데이','서울경제','서울신문','세계일보','경향신문']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_2:
        cont = re.sub("[ㄱ-힣]{2,3} [기][자][ㄱ-힣\w\s\\'@.,ⓒ\\[\\]&\\)\\(]+",'', cont) # ooo 기자 이후 삭제
        cont = re.sub("[<][ㄱ-힣\\',\\>ⓒ\s]+",'', cont) #머니투데이 <저작권... 이후 삭제
        cont = re.sub("[/][ㄱ-힣]{2,3}[기자]+[\s\w@ⓒ\\'.,ㄱ-힣]+",'',cont) #서울경제 /ooo기자 이후 삭제
        cont = re.sub("[\\/][ㄱ-힣·]+[기자]+[\s@.ㄱ-힣\w]+",'', cont) #서울경제 /ooo·ooo 기자 이후 삭제
        cont = re.sub("[/][ㄱ-힣]{2,3} [인턴기자]+[\s\w@ⓒ\\'.,ㄱ-힣]+",'', cont) #서울경제 /ooo 인턴기자 이후 삭제
        cont = re.sub("[/][ㄱ-힣]{2,3} [선임기자]+[\s\w@ⓒ\\'.,ㄱ-힣]+",'', cont) #서울경제 /ooo 인턴기자 이후 삭제
        cont = re.sub("[▶][ㄱ-힣ⓒ\s\\[\\],'.\w\\)\\(]+",'', cont) #서울신문 ▶ 이후 삭제
        cont = re.sub("[ⓒ][ㄱ-힣,\s\w\\)\\(.]+",'', cont) #세계일보,경향신문 ⓒ이후 삭제
        news.loc[i,'content']=cont

In [ ]:
# list 3
list_3 = ['한겨레']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_3:
        cont = re.sub("[ㄱ-힣]{2,3} [선임기자]+ [\w\s.@\\]\\[:ⓒㄱ-힣]+",'', cont) 
        cont = re.sub("[\\]\\[ⓒ]+",'', cont) 
        cont = re.sub("[\\[\\]\\-Copyrights&chosun.com,-]+",'', cont) 
        cont = re.sub("한겨레신문 : 무단전재 및 재배포 금지",'', cont)
        news.loc[i,'content']=cont

In [ ]:
#list_4
list_4 = ['뉴스1']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_4:
        cont = re.sub('[[\\(][ㄱ-힣]+[=]{1}[뉴스]+[1][\\)]','',cont) # 뉴스 1 앞부분 (지역이름=뉴스1)
        cont = re.sub('[ㄱ-힣]{2,3} [기자]+[ =]+','',cont) # 뉴스1 앞부분 기자이름
        cont = re.sub('[a-zA-Z\d]+[@news.kr]+','',cont) #뉴스1, 이메일 제거
        news.loc[i,'content']=cont

In [ ]:
#list_5
list_5 = ['한국경제TV']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_5:
        cont = re.sub('[\\<앵커\\>]','',cont)  #<앵커> 제거
        cont = re.sub('[ㄱ-힣]{2,4}[기][자]','',cont)
        cont = re.sub('[ⓒ][ㄱ-힣\w\s,]+','',cont)
        cont = re.sub('[\\[][한국경제TV]{6}[ㄱ-힣 ]+[\\]]','',cont) #[한국경제TV 알파고 분석뉴스]
        cont = re.sub('[한국경제TV]{6}[ ㄱ-힣@\w.]+','',cont) # 한국경제TV 송민화입니다.송민화 기자 mhsong@wowtv.co.kr
        news.loc[i,'content']=cont

In [ ]:
#list_6
list_6 = ['조선비즈']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_6:
        cont = re.sub('[\\[][ㄱ-힣]{2,4}[기자 ]+[\w.\\]@]+','',cont)
        cont = re.sub("[\\※][\s\wㄱ-힣\\]\\[\\-.,:\\)\\(\\']+",'',cont)
        news.loc[i,'content']=cont

In [ ]:
#list_7
list_7 = ['뉴시스','더팩트']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_7:
        cont = re.sub('[\\【][ㄱ-힣() ]+[=][A].[P].[\\/].[뉴시스]{3}[\\】]+[ㄱ-힣 ]+[=]','',cont) # 뉴시스 앞부분 제거 【부산=뉴시스】 ㅇㅇㅇ 기자 = 
        cont = re.sub('[【][ㄱ-힣]+[=][뉴시스]+[】][ ㄱ-힣]+[=]','',cont)#【서울=뉴시[ ㄱ-힣]+[=]스,'',cont】ㅇㅇㅇ 기자 = 
        cont = re.sub('[\\[][ㄱ-힣]+[=][ㄱ-힣]+[\\]][ ㄱ-힣]+[=]','',cont) #[오산=뉴시스] 이병희 기자 =
        cont = re.sub('[\d\w]+[@][\w.]+','',cont)#뉴시스 이메일 제거 mhsong@wowtv.co.kr
        cont = re.sub('[\\[][ㄱ-힣| ]+[\\]]','',cont) # 더팩트 앞부분 제거
        cont = re.sub('[\\<][ㄱ-힣\s\w.ⓒ-]+[\\>]','',cont)  #뉴시스 뒷부분 제거
        cont = re.sub('[\w]+[@][\w.]+[\w\sㄱ-힣ⓒ&.]+','',cont)  #더팩트 뒷부분 제거
        news.loc[i,'content']=cont

In [ ]:
#list_8
list_8 = ['연합뉴스']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_8:
        cont = re.sub('[\\(][ㄱ-힣=]+[\\)] [ㄱ-힣 ]+[=]','',cont)  # 앞부분 제거
        cont = re.sub('[\w]+[@][\w.]+','',cont) #뒷부분 제거
        news.loc[i,'content']=cont

In [ ]:
#list_9
list_9 = ['머니S','아시아경제']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_9:
        cont = re.sub('[ㄱ-힣]+ [기][자]','',cont) # 아시아 경제 뒷부분(ooo 기자)
        cont = re.sub("[\w]+[@][\w.]+",'',cont) #아시아 경제 뒷부분(이메일)
        cont = re.sub('[\\<][ⓒㄱ-힣,\s]+[\\>]','',cont) # 아시아 경제 뒷부분
        cont = re.sub("[\\<][ㄱ-힣ⓒ',\w\s]+[\\>]",'',cont)# 머니s 뒷부분
        news.loc[i,'content']=cont

In [ ]:
#list_10
list_10 = ['프레시안','국민일보','헤럴드경제','파이낸셜뉴스','한국경제TV']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_10:
        cont = re.sub('[ⓒ][\sㄱ-힣-,.\w&]+','',cont) #ⓒ  이후 삭제
        cont = re.sub('[\w]+[@][-.\w\s\\)\\(=]+','',cont) # 이메일삭제
        cont = re.sub('[※][\sㄱ-힣]+','',cont) # ※저작권자
        cont = re.sub('[ㄱ-힣]{2,4} [기][자]','',cont)
        cont = re.sub('[Copyrights]+','',cont)
        cont = re.sub('[ㄱ-힣]{2,4} [인][턴][기][자][\w]','',cont)
        cont = re.sub('[【][ㄱ-힣=\\)\\( ]+[】]','',cont) #파이낸셜 앞부분
        cont = re.sub('[GdNew]+[ ae]+','',cont) # 국민일보 뒷부분 남은 것 제거
        cont = re.sub('[.][m][_][l][\\}\\{ㄱ-힣:%\\]\\[;:\w.\d\s]+','',cont) # 한국경제 뒷부분 제거
        cont = re.sub('[m][a][x][-][\\}\\{ㄱ-힣:%\\]\\[;:\w.\d\s]+','',cont) # 한국경제 뒷부분 제거
        cont = re.sub('[\\[][\\]]','',cont) # 뒷부분 [] 제거
        cont = re.sub('[고][은][빛]','',cont)
        cont = re.sub('[이][송][렬]+','',cont)
        cont = re.sub('[한][민][수]+','',cont)
        news.loc[i,'content']=cont

In [ ]:
#list_11
list_11 = ['아이뉴스24']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_11:
        cont = re.sub('[\\[][ⓒ][ㄱ-힣\d\\]\s]+','',cont) #아이뉴스24 뒷부분 제거
        news.loc[i,'content']=cont

In [ ]:
#list_12
list_12 = ['디지털데일리','문화일보','ZDNet Korea','경향신문','전자신문']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_12:
        cont = re.sub('[ㄱ-힣]{2,4}[ ㄱ-힣\\/]+[기][자]','',cont) # 뒷부분 기자이름 삭제
        cont = re.sub('[\w]+[@][.\w]+','',cont) #뒷부분 이메일 삭제
        cont = re.sub("[\\[][C][o][p][y][\sⓒ\wㄱ-힣'\\)\\(.\\]]+",'',cont) # 문화일보 뒷부분 삭제
        cont = re.sub('[로][봇][ ][E][T][ AIETㄱ-힣]+','',cont) #전자신문 뒷부분 삭제
        cont = re.sub('[▶]+[©ㄱ-힣\\)\\(\w.,\s]+','',cont) # 경향신문 뒷부분 삭제
        cont = re.sub('[<][>][\sㄱ-힣©\\)\\(\\>\\<\\-]+','',cont)
        news.loc[i,'content']=cont

In [ ]:
#list_13
list_13 = ['매일경제','조선일보','데일리안','한국일보','매경이코노미']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_13:
        cont = re.sub('[데][일][리][안][\s\\-ㄱ-힣\\)\\(\dⓒ,\w@.]+','',cont) #데일리안 뒷부분 제거
        cont = re.sub('[ㄱ-힣]{2,3}[ ][기][자]','',cont) # ooo 기자 삭제
        cont = re.sub('[ㄱ-힣]{3}[기][자]','',cont) #ooo기자 삭제
        cont = re.sub('[\\[][디][지][털][뉴][스][ㄱ-힣 ]+[\\]]','',cont)
        cont = re.sub('[\\[][ㄱ-힣]{0,5}[\s\\=\\/\\]\\[\\&매일경제.,\\)\\(팀장ⓒ\w]+','',cont) # 매일경제뒷부분 제거
        cont = re.sub('[-] [Copy]+[\w\sⓒ&,.ㄱ-힣]+[-]','',cont) # 조선일보 뒷부분 제거
        cont = re.sub('[\w]+[@][\w.]+','',cont) # 이메일 제거
        cont = re.sub('[@][\w~\d.ㄱ-힣\\)\\]\s]','',cont)# 이메일(매일경제)
        cont = re.sub('[k][.][c][o][.][\w\\]~\d.ㄱ-힣\s]','',cont)
        news.loc[i,'content']=cont

In [ ]:
#list_14
list_14 = ['이데일리','디지털타임스','동아일보','한경비즈니스','오마이뉴스','노컷뉴스','매일신문']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_14:
        cont = re.sub('[ㄱ-힣]{3}[ ][\\(][\w@.]+[\\)][네][이][버][\sㄱ-힣\\!,~]+','',cont) # 이데일리 뒷부분
        cont = re.sub('[ㄱ-힣]{3}[ ][\\(][\w@.]+[\\)][이][데][일][리][\sㄱ-힣\\!~,‘’]+','',cont) # 이데일리 뒷부분
        cont = re.sub("[‘][이][데][일][리][’][\sㄱ-힣,~!]+",'',cont) # 이데일리 뒷부분
        cont = re.sub("[ㄱ-힣]{3}[ ][\\(][\w]+[@][\w.]+[\\)]",'',cont) # 이데일리 뒷부분
        cont = re.sub('[ⓒ][ ][동아일보]+[ㄱ-힣\w&.,\s]+','',cont) # 동아일보 뒷부분
        cont = re.sub('[\w]+[@][\w.]+[저][작][ㄱ-힣\w\s©]+','',cont) # 노컷뉴스 뒷부분
        cont = re.sub('[ㄱ-힣]{3}[ ].[기][자][ ][\w]+[@][\w.]+','',cont) # ooo 기자 이메일 삭제
        cont = re.sub('[\\[][ㄱ-힣\s]+[기][자][\s@.\w]+[\\]]','',cont) # 매일신문 앞부분
        cont = re.sub('[ⓒ][매일신문]+[\s\w.\\-]+','',cont) # 매일신문 뒷부분 제거
        cont = re.sub('[ㄱ-힣]{3}[기][자][\s\w@.\\/]+','',cont) #디지털타임스 뒷부분 제거
        cont = re.sub('[\\[][본][ ][기][사][는][\sㄱ-힣\d.~\\]\\[\\)\\(]+','',cont) # 한경비즈니스 뒷부분 제거
        cont = re.sub('[ㄱ-힣]{3}[ ][기][자]','',cont)
        cont = re.sub('[\w]+[@][\w.]+','',cont)
        cont = re.sub('[사][진][\s][한][국][경][제][ㄱ-힣\\·]+','',cont)
        cont = re.sub('[이][데][일][리][\sㄱ-힣,!~]+','',cont)  #이데일리 뒷부분
        cont = re.sub('[인][스][타][ ][친][추][\sㄱ-힣,!~]+','',cont) # 이데일리 뒷부분
        cont = re.sub('[당첨자]{3}[ ][2222]{4}[ㄱ-힣!\d,\s]+','',cont) #이데일리 뒷부분
        cont = re.sub('[저작권자]{4}[\\(][c][\\)][ㄱ-힣\\)\\(,.\\>\\<\s]+','',cont) # 오마이뉴스 뒷부분
        cont = re.sub('[매일신문]{4}','',cont)
        news.loc[i,'content']=cont

In [ ]:
#list_15
list_15 = ['ZDNet Korea']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_15:
        cont = re.sub('[\\[][ㄱ-힣\s+]','',cont)
        news.loc[i,'content']=cont

In [ ]:
#list_16
list_16 = ['부산일보']

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']
    if md in list_16:
        cont = re.sub('[ㄱ-힣]{3} [기][자]','',cont)
        cont = re.sub('[\w]+[@][\w.]+','',cont)
        news.loc[i,'content']=cont

In [ ]:
for i in news.index:
    cont = news.loc[i,'content']
    md = news.loc[i, 'media']

In [ ]:
news

                       date  ...  media
0       2017.01.01. 오후 6:57  ...    뉴스1
1      2017.01.01. 오후 12:02  ...   서울경제
2       2017.01.01. 오후 6:03  ...   전자신문
3       2017.01.01. 오후 3:01  ...   노컷뉴스
4       2017.01.01. 오전 6:07  ...    뉴시스
...                     ...  ...    ...
26565  2019.12.31. 오전 10:41  ...  헤럴드경제
26566  2019.12.31. 오전 11:09  ...   매일경제
26567   2019.12.31. 오전 9:02  ...  헤럴드경제
26568   2019.12.31. 오전 9:59  ...   매일경제
26569   2019.12.31. 오후 4:35  ...   매일경제

[26570 rows x 4 columns]

### 15시 이후 기사는 내일 주가에 반영

In [ ]:
news['text'] = news['title']+news['content']

In [ ]:
for i in range(len(news)):
    try:
        news['title'][i] = news['text'][i].replace('[',' ').replace(']',' ').replace('기자',' ').replace('△',' ').replace('<',' ').replace('>',' ').replace('"',' ').replace('(',' ').replace('(',' ').replace('◆',' ')
    except:
        continue

In [ ]:
for i in range(len(news)):
    try:
        news['text'][i] = news['text'][i].replace('[',' ').replace(']',' ').replace('기자',' ').replace('△',' ').replace('<',' ').replace('>',' ').replace('"',' ').replace('(',' ').replace('(',' ').replace('◆',' ')
    except:
        continue

In [ ]:
news = news.dropna()
news = news.reset_index(drop=True)

In [ ]:
news['time']=''

for i in range(len(news)):
    news['time'][i] = news['date'][i][12:]
    news['date'][i] = news['date'][i][:10]

In [ ]:
for i in range(len(news)):
    news['date'][i] = news['date'][i].replace('.','-')

In [ ]:
news['timing']=''

# 15시 이후 뉴스는 내일 주가에 반영
for i in range(len(news)):
    if news['time'][i][1:2] =='후':
        if news['time'][i][3:5] =='12':
            pass
        elif news['time'][i][3:5] =='1:':
            pass
        elif news['time'][i][3:5] =='2:':
            pass
        else:
            news['timing'][i] = '내일'
    else:
        pass

news['date'] = pd.to_datetime(news['date'])

In [ ]:
from datetime import datetime, timedelta

news['new_date']=''

for i in range(len(news)):
    if news['timing'][i] =='내일':
        news['new_date'][i] = news['date'][i] + timedelta(days=1)
    else:
        news['new_date'][i] = news['date'][i]

for i in range(len(news)):
    news['new_date'][i] = news['new_date'][i].strftime('%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
news = news.sort_values(by='date')

In [ ]:
news

            date  ...    new_date
0     2017-01-01  ...  2017-01-02
10    2017-01-01  ...  2017-01-02
9     2017-01-01  ...  2017-01-01
7     2017-01-01  ...  2017-01-01
6     2017-01-01  ...  2017-01-01
...          ...  ...         ...
26560 2019-12-31  ...  2019-12-31
26559 2019-12-31  ...  2019-12-31
26558 2019-12-31  ...  2019-12-31
26562 2019-12-31  ...  2019-12-31
26569 2019-12-31  ...  2020-01-01

[26570 rows x 8 columns]

In [ ]:
news = news[['new_date','title','text','media']]

In [ ]:
news.columns=['date','title','text','media']

In [ ]:
news['date'] = pd.to_datetime(news['date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### 휴장날 기사는 다음 주가에 반영

In [ ]:
stock = pd.read_csv('/content/drive/MyDrive/DB_Finance/data/lg_chemical_stock.csv')
stock

           date   price  volume  change
0    2019-12-30  317500  168990    2.25
1    2019-12-27  310500  149622    0.81
2    2019-12-26  308000  166208   -1.44
3    2019-12-24  312500  224260   -0.16
4    2019-12-23  313000  121761   -0.48
..          ...     ...     ...     ...
728  2017-01-06  266000   84524   -0.56
729  2017-01-05  267500  148537   -0.37
730  2017-01-04  268500  255597    2.48
731  2017-01-03  262000  253540    3.56
732  2017-01-02  253000  294947   -3.07

[733 rows x 4 columns]

In [ ]:
stock['date'] = pd.to_datetime(stock['date'])

In [ ]:
news_stock = pd.merge(news,stock, how='outer',on='date')

In [ ]:
news_stock

            date  ... change
0     2017-01-02  ...  -3.07
1     2017-01-02  ...  -3.07
2     2017-01-02  ...  -3.07
3     2017-01-02  ...  -3.07
4     2017-01-02  ...  -3.07
...          ...  ...    ...
26565 2019-12-31  ...    NaN
26566 2019-12-31  ...    NaN
26567 2019-12-31  ...    NaN
26568 2020-01-01  ...    NaN
26569 2020-01-01  ...    NaN

[26570 rows x 7 columns]

In [ ]:
from math import isnan
for i in range(len(news_stock)):
    if isnan(news_stock['price'][i]):
        for j in range(i+1,len(news_stock)):
            if isnan(news_stock['price'][j]):
                continue
            else:
                news_stock['price'][i]=news_stock['price'][j]
                news_stock['volume'][i]=news_stock['volume'][j]
                news_stock['change'][i]=news_stock['change'][j]
                news_stock['date'][i]=news_stock['date'][j]
                break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
news_stock.dropna(inplace=True)

In [ ]:
news_stock.reset_index(drop=True,inplace=True)

In [ ]:
news_stock

            date  ... change
0     2017-01-02  ...  -3.07
1     2017-01-02  ...  -3.07
2     2017-01-02  ...  -3.07
3     2017-01-02  ...  -3.07
4     2017-01-02  ...  -3.07
...          ...  ...    ...
26536 2019-12-30  ...   2.25
26537 2019-12-30  ...   2.25
26538 2019-12-30  ...   2.25
26539 2019-12-30  ...   2.25
26540 2019-12-30  ...   2.25

[26541 rows x 7 columns]

In [ ]:
news_stock.to_csv('/content/drive/MyDrive/DB_Finance/data/lg_chemical.csv', index=False)