<a href="https://colab.research.google.com/github/quotation3/DB_Finance/blob/main/Data_Preprocessing/4_%ED%94%BC%ED%81%AC%EB%B3%80%ED%99%94%EB%9F%89_%EB%89%B4%EC%8A%A4_%EC%B6%94%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ±2 이상인 날짜만 추출

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

In [ ]:
stock = pd.read_csv('/content/drive/MyDrive/DB_Finance/data/lg_chemical_stock.csv')
stock

           date   price  volume  change
0    2019-12-30  317500  168990    2.25
1    2019-12-27  310500  149622    0.81
2    2019-12-26  308000  166208   -1.44
3    2019-12-24  312500  224260   -0.16
4    2019-12-23  313000  121761   -0.48
..          ...     ...     ...     ...
728  2017-01-06  266000   84524   -0.56
729  2017-01-05  267500  148537   -0.37
730  2017-01-04  268500  255597    2.48
731  2017-01-03  262000  253540    3.56
732  2017-01-02  253000  294947   -3.07

[733 rows x 4 columns]

In [ ]:
stock = stock[(stock['change']>=2)|(stock['change']<=-2)]

In [ ]:
stock.dtypes

date       object
price       int64
volume      int64
change    float64
dtype: object

In [ ]:
stock['date'] = pd.to_datetime(stock['date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
stock.dtypes

date      datetime64[ns]
price              int64
volume             int64
change           float64
dtype: object

In [ ]:
stock = stock.sort_values(by="date")
stock.reset_index(drop=True,inplace=True)

In [ ]:
stock

          date   price  volume  change
0   2017-01-02  253000  294947   -3.07
1   2017-01-03  262000  253540    3.56
2   2017-01-04  268500  255597    2.48
3   2017-01-11  280000  559100    4.67
4   2017-01-18  271500  305022   -2.51
..         ...     ...     ...     ...
169 2019-11-08  323000  173853    2.05
170 2019-11-20  309500  188995   -2.52
171 2019-11-25  308500  300005    2.49
172 2019-12-04  296500  316394   -4.20
173 2019-12-30  317500  168990    2.25

[174 rows x 4 columns]

### 15시 이후 기사는 내일 주가에 반영

In [ ]:
news_2019 = pd.read_json('/content/drive/MyDrive/DB_Finance/data/lg_chemical.json')
news_2018 = pd.read_json('/content/drive/MyDrive/DB_Finance/data/lg_chemical_2018.json')

In [ ]:
news = pd.concat([news_2018,news_2019], axis=0)
news

                                                     url  ...                                            content
0      https://news.naver.com/main/read.nhn?mode=LSD&...  ...  (서울=뉴스1) 강현창 기자 = 중국 정부가 한국산 배터리를 장착한 전기차만 보조금...
1      https://news.naver.com/main/read.nhn?mode=LSD&...  ...  에너지솔루션 등 실질 성과 목표LG그룹은 올해를 인공지능(AI) 로봇과 친환경 자동...
2      https://news.naver.com/main/read.nhn?mode=LSD&...  ...  무게에 이어 배터리 혁신으로 휴대의 혁신 완성배터리 용량 1.7배 늘리면서도 무게는...
3      https://news.naver.com/main/read.nhn?mode=LSD&...  ...  [ 김현석 기자  ] 지난해 11월 찾은 베이징에서 한국 기업의 간판은 찾기 힘들었...
4      https://news.naver.com/main/read.nhn?mode=LSD&...  ...  중소기업이 만든 저속 전기자동차가 미국 시장에 수출된다. 미국 내 실버 수요자가 늘...
...                                                  ...  ...                                                ...
11583  https://news.naver.com/main/read.nhn?mode=LSD&...  ...  [헤럴드경제=김현경 기자] 올해 국내 증시에서 10대그룹의 시가총액은 지난해 대비 ...
11584  https://news.naver.com/main/read.nhn?mode=LSD&...  ...  안정보다는 변화와 혁신이었다. 2020년 재계의 임원 인사를 관통하는 트렌드는 ‘변...
11585  https://news.naver.com/main/read.nhn?mode=LSD&...  ...  [헤럴드경제] 많은 수요자들에게 선택을 받으며 뜨거운 인기를 보였던 HDC현대산업개...
11586  https://news.naver.com/main/read.nhn?mode=LSD&...  ...  올해 국내 증시는 글로벌 변수에 따라 불안정성이 크게 대두된 한 해 였지만 유가증권...
11587  https://news.naver.com/main/read.nhn?mode=LSD&...  ...  한국 경제가 저(低)성장 늪에 빠져 허우적대는 가운데 의약품 산업이 수출 견인과 국...

[30791 rows x 5 columns]

In [ ]:
news = news[['date','title','content','media']]

In [ ]:
news['text'] = news['title']+news['content']

In [ ]:
for i in range(len(news)):
    try:
        news['text'][i] = news['text'][i].replace('[',' ').replace(']',' ').replace('기자',' ').replace('△',' ').replace('◆',' ').replace('<',' ').replace('>',' ')
    except:
        continue

In [ ]:
news = news.dropna()
news = news.reset_index(drop=True)

In [ ]:
news['time']=''

for i in range(len(news)):
    news['time'][i] = news['date'][i][12:]
    news['date'][i] = news['date'][i][:10]

In [ ]:
for i in range(len(news)):
    news['date'][i] = news['date'][i].replace('.','-')

In [ ]:
news['timing']=''

# train- 15시 이후 뉴스는 내일 주가에 반영
for i in range(len(news)):
    if news['time'][i][1:2] =='후':
        if news['time'][i][3:5] =='12':
            pass
        elif news['time'][i][3:5] =='1:':
            pass
        elif news['time'][i][3:5] =='2:':
            pass
        else:
            news['timing'][i] = '내일'
    else:
        pass

news['date'] = pd.to_datetime(news['date'])

In [ ]:
from datetime import datetime, timedelta

news['new_date']=''

for i in range(len(news)):
    if news['timing'][i] =='내일':
        news['new_date'][i] = news['date'][i] + timedelta(days=1)
    else:
        news['new_date'][i] = news['date'][i]

for i in range(len(news)):
    news['new_date'][i] = news['new_date'][i].strftime('%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
news = news.sort_values(by='date')

In [ ]:
news

            date  ...    new_date
0     2017-01-01  ...  2017-01-02
14    2017-01-01  ...  2017-01-01
13    2017-01-01  ...  2017-01-02
12    2017-01-01  ...  2017-01-01
10    2017-01-01  ...  2017-01-01
...          ...  ...         ...
30745 2019-12-31  ...  2019-12-31
30744 2019-12-31  ...  2019-12-31
30756 2019-12-31  ...  2019-12-31
30749 2019-12-31  ...  2019-12-31
30757 2019-12-31  ...  2020-01-01

[30758 rows x 8 columns]

In [ ]:
news =news[['new_date','text','media']]

In [ ]:
news.columns=['date','text','media']

In [ ]:
news['date'] = pd.to_datetime(news['date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# 전체 뉴스 (나중에 감성파악하기 위함)
# news.to_csv('/content/drive/MyDrive/DB_Finance/data/news_for_2017.csv')

In [ ]:
peak_change = pd.merge(news,stock, how='inner',on='date')

In [ ]:
peak_change = peak_change.sort_values(by="date")

In [ ]:
peak_change

           date  ... change
0    2017-01-02  ...  -3.07
30   2017-01-02  ...  -3.07
31   2017-01-02  ...  -3.07
32   2017-01-02  ...  -3.07
33   2017-01-02  ...  -3.07
...         ...  ...    ...
7031 2019-12-30  ...   2.25
7030 2019-12-30  ...   2.25
7054 2019-12-30  ...   2.25
7041 2019-12-30  ...   2.25
7055 2019-12-30  ...   2.25

[7056 rows x 6 columns]

In [ ]:
peak_change.to_csv('/content/drive/MyDrive/DB_Finance/data/peak_change.csv', index=False)